html{
  font-size: 62.5%;
}
.col {
  height : 40rem;
}

.logo_box {
  font-size: 4rem;
}

.container-view {
  height :800px;
  width: 85%;
  position: relative;
}

.main-view {
  font-size: 4rem;
}

.sub-view {
  font-size: 4rem;
}

